.verticalLine {
  border-left: solid grey 1pt;
}

.logotext {
  font-size: 10pt;
}

.theme {
  color: #174287;
}

.text-title {
  font-size: 200%;
}

.text-subtitle {
  font-size: 150%;
}

.home-cover {
  opacity: 0.4;
}

.cover-home {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block; 
      max-width: 100%;
      height: auto;
}

.card-padding {
  padding-right: 20px;
  padding-left: 20px
}